body {
  background-color: papayawhip;
  font-family: "Yusei Magic", sans-serif;
}
.wrapper {
  display: flex;
  padding: 30px;
}

h1 {
  margin-left: 30px;
}

.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.edit-container {
  width: 25%;
}

.card {
  background-color: blueviolet;
  color: lightpink;
  height: auto;
  width: 200px;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: greenyellow;
  padding: 15px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.add-form {
  margin-top: 30px;
  display: none;
  width: 100%;
  /* position: fixed; */
}

.add-form > div {
  margin-bottom: 10px;
}

.add-form > div > label {
  font-size: 20px;
}

.add-form > div > input {
  font-size: 20px;
}

.read-button {
  margin-right: 5px;
}
